spring:
    datasource:
        url: jdbc:h2:mem:vehiclesdb
        driver-class-name: org.h2.Driver
        username: sa
        password: 123

    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        hibernate:
            ddl-auto: none
        show-sql: true
        properties:
            hibernate:
                format_sql: true
    sql:
        init:
            mode: always
            schema-locations: classpath:schema.sql
            data-locations: classpath:data.sql

server:
        port: 8080 